Workflow
[
    {
        "id": "fb2d99fb28f6bd92",
        "type": "tab",
        "label": "Regular Raw Request + CSV",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e571cd7d03bf56d",
        "type": "junction",
        "z": "fb2d99fb28f6bd92",
        "x": 1440,
        "y": 180,
        "wires": [
            [
                "e1b3681f77ffd761",
                "d543d624a90b9781"
            ]
        ]
    },
    {
        "id": "f47d6c920243eb93",
        "type": "function",
        "z": "fb2d99fb28f6bd92",
        "name": "build-command",
        "func": "/*\n    Regular Raw Request command for type 110\n    [0xF4,0x4F,0x00,0x00,0x50,0x13,0x01] --> type 110, 112 or 114\n*/\nlet addr = msg.payload.addr;\nmsg.payload = {};\nmsg.payload.address = addr;\nmsg.payload.data = [0xF4, 0x4F, 0x00, 0x00, 0x50, 0x13, 0x01];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 80,
        "wires": [
            [
                "75dd254e7213776b"
            ]
        ]
    },
    {
        "id": "970c71f401a6bd1b",
        "type": "switch",
        "z": "fb2d99fb28f6bd92",
        "name": "type 110",
        "property": "payload.sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "110",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "6c28b4732172a3b3"
            ]
        ]
    },
    {
        "id": "75dd254e7213776b",
        "type": "delay",
        "z": "fb2d99fb28f6bd92",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1775,
        "y": 100,
        "wires": [
            [
                "843ba970b1e41779"
            ]
        ],
        "l": false
    },
    {
        "id": "c216830331262e52",
        "type": "debug",
        "z": "fb2d99fb28f6bd92",
        "name": "Processed Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 180,
        "wires": []
    },
    {
        "id": "58bc4be060ac636f",
        "type": "switch",
        "z": "fb2d99fb28f6bd92",
        "name": "sensor-data",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 220,
        "wires": [
            [
                "970c71f401a6bd1b"
            ]
        ]
    },
    {
        "id": "6c28b4732172a3b3",
        "type": "switch",
        "z": "fb2d99fb28f6bd92",
        "name": "mac",
        "property": "payload.addr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:13:a2:00:42:30:75:68",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "49bcb7ea82f1c9d7"
            ]
        ]
    },
    {
        "id": "755d3c9521429333",
        "type": "switch",
        "z": "fb2d99fb28f6bd92",
        "name": "condition",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1500,
        "y": 140,
        "wires": [
            [
                "f47d6c920243eb93",
                "c216830331262e52"
            ]
        ]
    },
    {
        "id": "49bcb7ea82f1c9d7",
        "type": "switch",
        "z": "fb2d99fb28f6bd92",
        "name": "mode",
        "property": "payload.sensor_data.mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "755d3c9521429333"
            ],
            [
                "755d3c9521429333"
            ],
            [
                "755d3c9521429333"
            ],
            [
                "1e571cd7d03bf56d"
            ]
        ]
    },
    {
        "id": "13ee05c476445526",
        "type": "link in",
        "z": "fb2d99fb28f6bd92",
        "name": "link in",
        "links": [
            "843ba970b1e41779"
        ],
        "x": 475,
        "y": 280,
        "wires": [
            [
                "592d8829822452ac"
            ]
        ]
    },
    {
        "id": "e1b3681f77ffd761",
        "type": "debug",
        "z": "fb2d99fb28f6bd92",
        "name": "Time Domain Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "843ba970b1e41779",
        "type": "link out",
        "z": "fb2d99fb28f6bd92",
        "name": "link out",
        "mode": "link",
        "links": [
            "13ee05c476445526"
        ],
        "x": 475,
        "y": 100,
        "wires": []
    },
    {
        "id": "d1f2e16aeb742fa2",
        "type": "debug",
        "z": "fb2d99fb28f6bd92",
        "name": "All Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "d543d624a90b9781",
        "type": "function",
        "z": "fb2d99fb28f6bd92",
        "name": "Format to CSV rows",
        "func": "var d = msg.payload;\nvar sd = d.sensor_data;\n\n// Full resolution timestamp split into date + time with milliseconds\nvar now = new Date();\nvar date = now.getFullYear() + '-' +\n           String(now.getMonth() + 1).padStart(2, '0') + '-' +\n           String(now.getDate()).padStart(2, '0');\nvar time_ms = String(now.getHours()).padStart(2, '0') + ':' +\n              String(now.getMinutes()).padStart(2, '0') + ':' +\n              String(now.getSeconds()).padStart(2, '0') + '.' +\n              String(now.getMilliseconds()).padStart(3, '0');\n\nvar headerWritten = flow.get('csvHeaderWritten') || false;\nvar rows = '';\n\nif (!headerWritten) {\n    rows = 'date,time_ms,addr,battery_percent,temperature_c,odr_hz,fft_confidence,sample_index,x_g,y_g,z_g\\n';\n    flow.set('csvHeaderWritten', true);\n}\n\nvar xData = sd.data.x;\nvar yData = sd.data.y;\nvar zData = sd.data.z;\nvar temp = (sd.device_temp !== undefined) ? sd.device_temp : (sd.temperature !== undefined ? sd.temperature : '');\nvar odr = sd.odr || '';\nvar fft = sd.fft_confidence || '';\n\nfor (var i = 0; i < xData.length; i++) {\n    rows += date + ',' +\n            time_ms + ',' +\n            d.addr + ',' +\n            d.battery_percent + ',' +\n            temp + ',' +\n            odr + ',' +\n            fft + ',' +\n            i + ',' +\n            xData[i] + ',' +\n            yData[i] + ',' +\n            zData[i] + '\\n';\n}\n\nmsg.payload = rows;\nmsg.filename = 'C:\\\\Users\\\\Ukesh Marshal\\\\Downloads\\\\vibration_data.csv';\nmsg.flags = { append: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 380,
        "wires": [
            [
                "fd98b503aad8e90c"
            ]
        ]
    },
    {
        "id": "fd98b503aad8e90c",
        "type": "file",
        "z": "fb2d99fb28f6bd92",
        "name": "Write to CSV",
        "filename": "C:\\Users\\Ukesh Marshal\\Downloads\\testa.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1650,
        "y": 320,
        "wires": [
            [
                "ab048ccb112fc397"
            ]
        ]
    },
    {
        "id": "ab048ccb112fc397",
        "type": "debug",
        "z": "fb2d99fb28f6bd92",
        "name": "✅ CSV saved",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 320,
        "wires": []
    },
    {
        "id": "a848f0ea372974ec",
        "type": "function",
        "z": "fb2d99fb28f6bd92",
        "name": "⚙️ Config Status",
        "func": "var topic = msg.topic || '';\nvar payload = msg.payload || {};\nvar mode = payload.mode || '';\n\n// ── Sensor mode messages ──────────────────────────────────\nif (topic === 'sensor_mode') {\n    if (mode === 'RUN') {\n        node.status({fill:'green', shape:'dot', text:'🟢 RUNNING — sensor awake & transmitting'});\n        node.warn('🟢 RUN: Sensor is awake and transmitting normally');\n    }\n    else if (mode === 'FLY') {\n        node.status({fill:'blue', shape:'ring', text:'🔵 FLY — checking for config updates...'});\n        node.warn('🔵 FLY: Sensor checking in — Node-RED has 2 seconds to push config');\n    }\n    else if (mode === 'PGM') {\n        node.status({fill:'yellow', shape:'ring', text:'🟡 CONFIG MODE — sensor ready to receive settings'});\n        node.warn('🟡 PGM: Sensor is in manual configuration mode');\n    }\n    else if (mode === 'ACK') {\n        node.status({fill:'blue', shape:'dot', text:'📨 ACK — parameter received by sensor'});\n        node.warn('📨 ACK: Sensor acknowledged a configuration command');\n    }\n    else if (mode === 'PUM') {\n        node.status({fill:'grey', shape:'ring', text:'🔄 FACTORY RESET — sensor reverted to defaults'});\n        node.warn('🔄 PUM: Sensor was factory reset. Configure and reset to resume.');\n    }\n    else if (mode === 'MOFF') {\n        node.status({fill:'grey', shape:'dot', text:'⚫ MOTOR OFF — machine not running'});\n        node.warn('⚫ MOFF: Sensor says machine is OFF (vibration below threshold)');\n    }\n    else if (mode === 'UPTHWRN') {\n        node.status({fill:'red', shape:'ring', text:'⚠️ THRESHOLD WARNING — triggering too often, battery drain risk'});\n        node.warn('⚠️ UPTHWRN: Smart threshold too low — sensor triggering constantly. Raise threshold to protect battery.');\n    }\n}\n\n// ── Config Results message ────────────────────────────────\nelse if (topic === 'Config Results') {\n    var p = payload;\n    var allOk = true;\n    var results = [];\n\n    // Check each key that ends in known param patterns\n    for (var key in p) {\n        if (key === 'addr' || key === 'time' || key === '_msgid') continue;\n        if (typeof p[key] === 'boolean') {\n            results.push((p[key] ? '✅' : '❌') + ' ' + key + ': ' + p[key]);\n            if (!p[key]) allOk = false;\n        }\n    }\n\n    if (allOk) {\n        node.status({fill:'green', shape:'dot', text:'✅ CONFIG COMPLETE — all settings written to sensor'});\n        node.warn('✅ CONFIG COMPLETE:\\n' + results.join('\\n'));\n    } else {\n        node.status({fill:'red', shape:'dot', text:'❌ CONFIG PARTIAL — some settings failed, check log'});\n        node.warn('❌ CONFIG PARTIAL — some parameters failed:\\n' + results.join('\\n'));\n    }\n}\n\n// ── OTN Request Results ───────────────────────────────────\nelse if (topic === 'OTN Request Results') {\n    node.status({fill:'blue', shape:'ring', text:'🔵 OTN — config window extended to 60 seconds'});\n    node.warn('🔵 OTN: Config window extended. Pushing parameters now...');\n}\n\n// ── Sensor data (running confirmation) ───────────────────\nelse if (topic === 'sensor_data') {\n    var sd = payload.sensor_data || {};\n    var modeNum = sd.mode;\n    var modeLabel = modeNum === 0 ? 'Processed' : modeNum === 1 ? 'Raw' : modeNum === 2 ? 'On Demand' : modeNum === 3 ? 'Smart' : 'Unknown';\n    node.status({fill:'green', shape:'dot', text:'📡 DATA: mode=' + modeLabel + ' | ODR=' + (sd.odr||'?') + ' | fft=' + (sd.fft_confidence||'?')});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "6477cdc59e76f51a"
            ]
        ]
    },
    {
        "id": "6477cdc59e76f51a",
        "type": "debug",
        "z": "fb2d99fb28f6bd92",
        "name": "Config Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "537f632755853b18",
        "type": "ncd-wireless-node",
        "z": "fb2d99fb28f6bd92",
        "name": "Sensor",
        "connection": "bd2072265d713085",
        "config_comm": "bd2072265d713085",
        "addr": "00:13:a2:00:42:30:75:68",
        "sensor_type": "110",
        "auto_config": true,
        "on_the_fly_enable": true,
        "node_id_delay_active": "",
        "node_id": 0,
        "delay": 300,
        "form_network": "",
        "destination_active": "",
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_detection_t3_active": "",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "change_detection_ch2_active": "",
        "change_enabled_ch2": "",
        "change_pr_ch2": "0",
        "change_interval_ch2": "0",
        "change_detection_ch3_active": "",
        "change_enabled_ch3": "",
        "change_pr_ch3": "0",
        "change_interval_ch3": "0",
        "current_calibration_13_active": "",
        "current_calibration_13": "60600",
        "current_calibration_13_dep_active": "",
        "current_calibration_13_dep": "60600",
        "current_calibration_ch2_19_active": "",
        "current_calibration_ch2_19": "60600",
        "current_calibration_ch2_19_dep_active": "",
        "current_calibration_ch2_19_dep": "60600",
        "current_calibration_ch3_28_active": "",
        "current_calibration_ch3_28": "60600",
        "current_calibration_ch3_28_dep_active": "",
        "current_calibration_ch3_28_dep": "60600",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel_active": "",
        "impact_accel": "0",
        "impact_data_rate_active": "",
        "impact_data_rate": "4",
        "impact_threshold_active": "",
        "impact_threshold": 25,
        "impact_duration_active": "",
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "force_calibration_co2_535_active": "",
        "temperature_offset_44_active": "",
        "temperature_offset_44": 4,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "periodic_check_rate_76_active": "",
        "periodic_check_rate_76": 60,
        "ppm_threshold_76_active": "",
        "ppm_threshold_76": 100,
        "alert_duration_76_active": "",
        "alert_duration_76": 0,
        "sensor_boot_time_76_active": "",
        "sensor_boot_time_76": 30,
        "measurement_mode_80_active": "",
        "measurement_mode_80": 0,
        "on_request_timeout_80_active": "",
        "on_request_timeout_80": 1,
        "sensor_boot_time_420ma_active": "",
        "sensor_boot_time_420ma": 0,
        "sensor_boot_time_78_active": "",
        "sensor_boot_time_78": 0,
        "deadband_80_active": "",
        "deadband_80": 0,
        "auto_check_interval_88_active": "",
        "auto_check_interval_88": 60,
        "auto_check_threshold_88_active": "",
        "auto_check_threshold_88": 20,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_p1_81_active": "",
        "output_data_rate_p1_81": 0,
        "output_data_rate_p2_81_active": "",
        "output_data_rate_p2_81": 0,
        "sampling_duration_p1_81_active": "",
        "sampling_duration_p1_81": 0,
        "sampling_duration_p2_81_active": "",
        "sampling_duration_p2_81": 0,
        "led_alert_mode_84_active": "",
        "led_alert_mode_84": 0,
        "led_accelerometer_threshold_84_active": "",
        "led_accelerometer_threshold_84": "",
        "led_velocity_threshold_84_active": "",
        "led_velocity_threshold_84": "",
        "set_rtc_101": 0,
        "set_rtc_202": 0,
        "current_calibration_82": "",
        "current_calibration_82_active": false,
        "current_calibration_c1_80": 178,
        "current_calibration_c1_80_active": "",
        "current_calibration_c2_80": 178,
        "current_calibration_c2_80_active": "",
        "current_calibration_c3_80": 178,
        "current_calibration_c3_80_active": "",
        "output_data_rate_101_active": "",
        "output_data_rate_101": 0,
        "output_data_rate_101_m2_active": "",
        "output_data_rate_101_m2": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "sampling_interval_202_active": "",
        "sampling_interval_202": 1,
        "probe_boot_time_202_active": "",
        "probe_boot_time_202": 30,
        "full_scale_range_101_active": true,
        "full_scale_range_101": "3",
        "full_scale_range_101_m2_active": "",
        "full_scale_range_101_m2": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "low_pass_filter_80_active": "",
        "low_pass_filter_80": 0,
        "high_pass_filter_80_active": "",
        "high_pass_filter_80": 0,
        "low_pass_filter_81_p2_active": "",
        "low_pass_filter_81_p2": 0,
        "high_pass_filter_81_p2_active": "",
        "high_pass_filter_81_p2": 0,
        "roll_angle_threshold_47": 0,
        "roll_angle_threshold_47_active": "",
        "pitch_angle_threshold_47": 0,
        "pitch_angle_threshold_47_active": "",
        "accelerometer_state_108": 0,
        "accelerometer_state_108_active": "",
        "clear_timers_108_active": "",
        "clear_timers_108": 7,
        "accelerometer_threshold_108": 10,
        "accelerometer_threshold_108_active": "",
        "debounce_time_108": 10,
        "debounce_time_108_active": "",
        "input_one_108": 1,
        "input_one_108_active": "",
        "input_two_108": 1,
        "input_two_108_active": "",
        "input_three_108": 0,
        "input_three_108_active": "",
        "counter_threshold_108": 1000,
        "counter_threshold_108_active": "",
        "shift_one_108_active": "",
        "shift_one_minutes_108": 0,
        "shift_one_hours_108": 0,
        "shift_two_108_active": "",
        "shift_two_minutes_108": 0,
        "shift_two_hours_108": 0,
        "shift_three_108_active": "",
        "shift_three_minutes_108": 0,
        "shift_three_hours_108": 0,
        "shift_four_108_active": "",
        "shift_four_minutes_108": 0,
        "shift_four_hours_108": 0,
        "counter_threshold_35": 50,
        "counter_threshold_35_active": "",
        "payload_length_80_active": true,
        "payload_length_80": 3,
        "motion_threshold_46_active": "",
        "motion_threshold_46": 100,
        "low_calibration_420ma_active": "",
        "low_calibration_420ma": 68805,
        "mid_calibration_420ma_active": "",
        "mid_calibration_420ma": 68724,
        "high_calibration_420ma_active": "",
        "high_calibration_420ma": 68714,
        "thermocouple_type_23_active": "",
        "thermocouple_type_23": 0,
        "debounce_time_2_active": "",
        "debounce_time_2": 10,
        "stay_on_mode_539_active": "",
        "stay_on_mode_539": 0,
        "baudrate_539_active": "",
        "baudrate_539": 9600,
        "rx_timeout_539_active": "",
        "rx_timeout_539": 10,
        "bootup_time_539_active": "",
        "bootup_time_539": 10,
        "sensor_add_539_active": "",
        "sensor_add_539": 10,
        "sub_device_type_539_active": "",
        "sub_device_type_539": 10,
        "number_of_regs_to_rd_539_active": "",
        "number_of_regs_to_rd_539": 1,
        "register_value_0_539": 0,
        "register_value_1_539": 0,
        "register_value_2_539": 0,
        "register_value_3_539": 0,
        "register_value_4_539": 0,
        "register_value_5_539": 0,
        "register_value_6_539": 0,
        "register_value_7_539": 0,
        "register_value_8_539": 0,
        "register_value_9_539": 0,
        "register_value_10_539": 0,
        "register_value_11_539": 0,
        "register_value_12_539": 0,
        "register_value_13_539": 0,
        "register_value_14_539": 0,
        "register_value_15_539": 0,
        "register_value_16_539": 0,
        "register_value_17_539": 0,
        "register_value_18_539": 0,
        "register_value_19_539": 0,
        "register_value_20_539": 0,
        "register_value_21_539": 0,
        "register_value_22_539": 0,
        "register_value_23_539": 0,
        "register_value_24_539": 0,
        "register_value_25_539": 0,
        "register_value_26_539": 0,
        "register_value_27_539": 0,
        "register_value_28_539": 0,
        "register_value_29_539": 0,
        "register_value_30_539": 0,
        "register_value_31_539": 0,
        "number_of_read_retries_539_active": "",
        "number_of_read_retries_539": 1,
        "read_parameter_539_active": "",
        "read_parameter_539": 3,
        "mode_110_active": true,
        "mode_110": "2",
        "auto_raw_interval_110_active": "",
        "auto_raw_interval_110": 0,
        "auto_raw_destination_110_active": "",
        "auto_raw_destination_110": "0000FFFF",
        "clear_probe_uptimers_110": 0,
        "smart_interval_110_active": "",
        "smart_interval_110": 0,
        "smart_threshold_110_active": "",
        "smart_threshold_110": 1,
        "smart_threshold_p2_110_active": "",
        "smart_threshold_p2_110": 1,
        "rx485_timeout_1011_active": "",
        "rx485_timeout_1011": 0,
        "mode_1011_active": "",
        "mode_1011": 0,
        "auto_address_timeout_1011_active": "",
        "auto_address_timeout_1011": 0,
        "mode_531_active": "",
        "mode_531": 0,
        "max_range_58_active": "",
        "max_range_58": 0,
        "calibration_58": 0,
        "factory_reset_tank_probe_58": 0,
        "push_notification_108_active": "",
        "push_notification_108": 0,
        "push_notification_33_active": "",
        "push_notification_33": 0,
        "clear_counter_33": 0,
        "input_two_33": 1,
        "input_two_33_active": "",
        "stop_bit_1011_active": "",
        "stop_bit_1011": 0,
        "set_parity_1011_active": "",
        "set_parity_1011": 0,
        "reboot_1011": 0,
        "fly_interval_110_active": "",
        "fly_interval_110": 60,
        "scd_skip_samples_44_active": "",
        "scd_skip_samples_44": 1,
        "sps_skip_samples_32_active": "",
        "sps_skip_samples_32": 1,
        "sampling_interval_110_active": true,
        "sampling_interval_110": "0",
        "deactivate_activate_accelero_108_active": "",
        "deactivate_activate_accelero_108": 1,
        "reset_timeout_108_active": "",
        "reset_timeout_108": 60,
        "reset_mode_to_disabled_108_active": "",
        "reset_mode_to_disabled_108": 0,
        "transmission_interval_108_active": "",
        "transmission_interval_108": 2,
        "rtc_108": 0,
        "change_otf_interval_active": "",
        "change_otf_interval": 60,
        "sampling_rate_duration_active": "",
        "sampling_rate_duration": 30,
        "stop_sampling": 0,
        "extend_otf_timeout": 0,
        "end_cfg": 0,
        "rtd_type_39_active": "",
        "rtd_type_39": 0,
        "rtd_range_39_active": "",
        "rtd_range_39": 0,
        "pressure_sensor_fs_ch1_118_active": "",
        "pressure_sensor_fs_ch1_118": 0,
        "pressure_sensor_fs_ch2_118_active": "",
        "pressure_sensor_fs_ch2_118": 0,
        "auto_check_interval_118_active": "",
        "auto_check_interval_118": 0,
        "press_auto_check_percent_118_active": "",
        "press_auto_check_percent_118": 0,
        "temp_auto_check_percent_118_active": "",
        "temp_auto_check_percent_118": 0,
        "raw_length_97_active": "",
        "raw_length_97": 3,
        "raw_timeout_97_active": "",
        "raw_timeout_97": 0,
        "fly_rate_97_active": "",
        "fly_rate_97": 0,
        "boot_up_time_97_active": "",
        "boot_up_time_97": 0,
        "filter_thermocouple_active": "",
        "filter_thermocouple": 0,
        "cold_junction_thermocouple_active": "",
        "cold_junction_thermocouple": 0,
        "sample_resolution_thermocouple_active": "",
        "sample_resolution_thermocouple": 0,
        "number_of_samples_thermocouple_active": "",
        "number_of_samples_thermocouple": 0,
        "measurement_type_thermocouple_active": "",
        "measurement_type_thermocouple": 0,
        "mode_97_active": "",
        "mode_97": 0,
        "pressure_sensor_type_21_active": "",
        "pressure_sensor_type_21": 0,
        "thermocouple_type_112_active": "",
        "thermocouple_type_112": 0,
        "filter_thermocouple_112_active": "",
        "filter_thermocouple_112": 0,
        "cold_junction_thermocouple_112_active": "",
        "cold_junction_thermocouple_112": 0,
        "sample_resolution_thermocouple_112_active": "",
        "sample_resolution_thermocouple_112": 0,
        "number_of_samples_thermocouple_112_active": "",
        "number_of_samples_thermocouple_112": 0,
        "operation_mode_thermocouple_112_active": "",
        "operation_mode_thermocouple_112": 0,
        "measurement_type_thermocouple_112_active": "",
        "measurement_type_thermocouple_112": 0,
        "enable_rpm_calculate_status_110_active": "",
        "enable_rpm_calculate_status_110": 0,
        "odr_p1_110_active": true,
        "odr_p1_110": "14",
        "odr_p2_110_active": "",
        "odr_p2_110": 0,
        "sampling_duration_p1_110_active": true,
        "sampling_duration_p1_110": "99",
        "sampling_duration_p2_110_active": "",
        "sampling_duration_p2_110": 1,
        "low_pass_filter_p1_110_active": "",
        "low_pass_filter_p1_110": 0,
        "low_pass_filter_p2_110_active": "",
        "low_pass_filter_p2_110": 0,
        "high_pass_filter_p1_110_active": "",
        "high_pass_filter_p1_110": 0,
        "high_pass_filter_p2_110_active": "",
        "high_pass_filter_p2_110": 0,
        "acceleration_interrupt_threshold_84_active": "",
        "acceleration_interrupt_threshold_84": 0,
        "motion_detect_threshold_p1_110_active": "",
        "motion_detect_threshold_p1_110": 0,
        "motion_detect_threshold_p2_110_active": "",
        "motion_detect_threshold_p2_110": 0,
        "quality_of_service_108_active": "",
        "quality_of_service_108": 0,
        "max_raw_sample_110_active": true,
        "max_raw_sample_110": "8100",
        "always_on_120": 0,
        "sensor_reset_120": 0,
        "sensor_calib_120": 0,
        "alert_threshold_120_active": "",
        "alert_threshold_120": 0,
        "wood_type_121_active": "",
        "wood_type_121": 0,
        "quality_of_service_121_active": "",
        "quality_of_service_121": 0,
        "enable_filtering_110_active": "",
        "enable_filtering_110": 0,
        "fly_interval_108_active": "",
        "fly_interval_108": 60,
        "tare_the_scale_217": 0,
        "weight_calib_217_active": "",
        "weight_calib_217": 0,
        "sample_rate_108_active": "",
        "sample_rate_108": 0,
        "pressure_limit_26_active": "",
        "pressure_limit_26": 5,
        "auto_pressure_check_26_active": "",
        "auto_pressure_check_26": 0,
        "fsr_420ma_active": "",
        "fsr_420ma": 0,
        "always_on_420ma_active": "",
        "always_on_420ma": 0,
        "pressure_sensor_range_AMS5812_21_active": "",
        "pressure_sensor_range_AMS5812_21": 0,
        "pressure_sensor_range_AMS5915_21_active": "",
        "pressure_sensor_range_AMS5915_21": 0,
        "motion_to_sampling_delay_110_active": "",
        "motion_to_sampling_delay_110": 100,
        "max_num_motion_tx_delay_110_active": "",
        "max_num_motion_tx_delay_110": 1,
        "enable_sensor_103_active": "",
        "enable_sensor_103": 3,
        "output_data_rate_103_active": "",
        "output_data_rate_103": 1,
        "enable_hp_filter_cutoff_103_active": "",
        "enable_hp_filter_cutoff_103": 0,
        "gyro_fsr_103_active": "",
        "gyro_fsr_103": 0,
        "adxl_fsr_103_active": "",
        "adxl_fsr_103": 0,
        "sampling_duration_103_active": "",
        "sampling_duration_103": 20,
        "debounce_time_123": 10,
        "debounce_time_123_active": "",
        "debounce_time_v10_108": 10,
        "debounce_time_v10_108_active": "",
        "do_read_rate_270_active": "",
        "do_read_rate_270": 0,
        "do_boot_time_270_active": "",
        "do_boot_time_270": 1,
        "do_dev_id_270_active": "",
        "do_dev_id_1_270": 0,
        "do_dev_id_2_270": 0,
        "do_dev_id_3_270": 0,
        "do_dev_id_4_270": 0,
        "ec_boot_time_270_active": "",
        "ec_boot_time_270": 1,
        "ec_dev_id_270_active": "",
        "ec_dev_id_1_270": 0,
        "ec_dev_id_2_270": 0,
        "ec_dev_id_3_270": 0,
        "ec_dev_id_4_270": 0,
        "push_notification_123_active": "",
        "push_notification_123": 0,
        "clear_timers_123_active": "",
        "clear_timers_123": 7,
        "input_one_123_active": "",
        "input_one_123": 1,
        "input_two_123_active": "",
        "input_two_123": 1,
        "input_three_123_active": "",
        "input_three_123": 1,
        "oxygen_rate_211_active": "",
        "oxygen_rate_211": 15,
        "oxygen_timeout_211_active": "",
        "oxygen_timeout_211": 600,
        "oxygen_threshold_211_active": "",
        "oxygen_threshold_211": 8,
        "interrupt_timeout_108_active": "",
        "interrupt_timeout_108": 0,
        "acc_threshold_103_active": "",
        "acc_threshold_103": 1,
        "start_sps30_fan_cleaning_53": 0,
        "max_flow_541_active": "",
        "max_flow_541": 1,
        "min_flow_541_active": "",
        "min_flow_541": 1,
        "ct_constant_87_active": "",
        "ct_constant_87": 0,
        "deadband_87_active": "",
        "deadband_87": 0,
        "sampling_frequency_87_active": "",
        "sampling_frequency_87": 0,
        "raw_length_87_active": "",
        "raw_length_87": 0,
        "sampling_interval_80_active": "",
        "sampling_interval_80": 1,
        "volume_flow_unit_124_active": "",
        "volume_flow_unit_124": 1,
        "total_1_flow_unit_124_active": "",
        "total_1_flow_unit_124": 1,
        "total_2_flow_unit_124_active": "",
        "total_2_flow_unit_124": 1,
        "total_3_flow_unit_124_active": "",
        "total_3_flow_unit_124": 1,
        "pressure_unit_124_active": "",
        "pressure_unit_124": 1,
        "total_1_op_mode_124_active": "",
        "total_1_op_mode_124": 1,
        "total_2_op_mode_124_active": "",
        "total_2_op_mode_124": 1,
        "total_3_op_mode_124_active": "",
        "total_3_op_mode_124": 1,
        "conductivity_unit_124_active": "",
        "conductivity_unit_124": 1,
        "reset_all_totalizers_124": "",
        "screen_control_108_active": "",
        "screen_control_108": 0,
        "screen_on_time_108_active": "",
        "screen_on_time_108": 5,
        "oxygen_boot_time_536_active": "",
        "oxygen_boot_time_536": 3,
        "flow_boot_time_536_active": "",
        "flow_boot_time_536": 3,
        "oxygen_dev_addr_536_active": "",
        "oxygen_addr_1_536": 0,
        "oxygen_addr_2_536": 0,
        "oxygen_addr_3_536": 0,
        "oxygen_addr_4_536": 0,
        "flow_dev_addr_536_active": "",
        "flow_addr_1_536": 0,
        "flow_addr_2_536": 0,
        "flow_addr_3_536": 0,
        "flow_addr_4_536": 0,
        "oxygen_rate_536_active": "",
        "oxygen_rate_536": 2,
        "oxygen_timeout_536_active": "",
        "oxygen_timeout_536": 5,
        "oxygen_max_threshold_s1_536_active": "",
        "oxygen_max_threshold_s1_536": 12,
        "oxygen_max_threshold_s2_536_active": "",
        "oxygen_max_threshold_s2_536": 12,
        "oxygen_max_threshold_s3_536_active": "",
        "oxygen_max_threshold_s3_536": 12,
        "oxygen_max_threshold_s4_536_active": "",
        "oxygen_max_threshold_s4_536": 12,
        "oxygen_min_threshold_s1_536_active": "",
        "oxygen_min_threshold_s1_536": 12,
        "oxygen_min_threshold_s2_536_active": "",
        "oxygen_min_threshold_s2_536": 12,
        "oxygen_min_threshold_s3_536_active": "",
        "oxygen_min_threshold_s3_536": 12,
        "oxygen_min_threshold_s4_536_active": "",
        "oxygen_min_threshold_s4_536": 12,
        "clear_timers_119_active": "",
        "clear_timers_119": 8,
        "push_notification_119_active": "",
        "push_notification_119": 0,
        "enable_axis_119_active": "",
        "enable_axis_119": 0,
        "raw_acc_data_119_active": "",
        "raw_acc_data_119": 0,
        "odr_p1_543_active": "",
        "odr_p1_543": 0,
        "full_scale_range_543_active": "",
        "full_scale_range_543": 1,
        "sampling_duration_p1_543_active": "",
        "sampling_duration_p1_543": 18,
        "sensor_length_29_active": "",
        "sensor_length_29": 500,
        "tare_value_217_active": "",
        "tare_value_217": 0,
        "rtd_wire_type_ch2_54_active": "",
        "rtd_wire_type_ch2_54": 1,
        "rtd_range_ch2_54_active": "",
        "rtd_range_ch2_54": 1,
        "rtd_wire_type_ch3_55_active": "",
        "rtd_wire_type_ch3_55": 1,
        "rtd_range_ch3_55_active": "",
        "rtd_range_ch3_55": 1,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "a848f0ea372974ec"
            ]
        ]
    },
    {
        "id": "592d8829822452ac",
        "type": "ncd-gateway-node",
        "z": "fb2d99fb28f6bd92",
        "name": "Wireless Gateway (set COM port)",
        "connection": "bd2072265d713085",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "58bc4be060ac636f",
                "d1f2e16aeb742fa2"
            ]
        ]
    },
    {
        "id": "bd2072265d713085",
        "type": "ncd-gateway-config",
        "name": "MODEM",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": 2101,
        "tcp_inactive_timeout_active": false,
        "tcp_inactive_timeout": 1200,
        "port": "COM3",
        "baudRate": 115200,
        "pan_id": "7fff",
        "rssi": false
    },
    {
        "id": "b9613d4faf0e214a",
        "type": "global-config",
        "env": [],
        "modules": {
            "@ncd-io/node-red-enterprise-sensors": "1.4.7"
        }
    }
]
